<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://onetenant.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/18ac4394-fa77-45d7-84b6-6d2a7cf638d7/resourceGroups/AZ-Training-Authors/providers/Microsoft.Web/sites/onetenant</ResourceId>
    <UserName>$onetenant</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://onetenant.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>